@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

@import "./variables";
@import "./normalize";
@import "./imports";

body {
  font-family: "Source Sans Pro", sans-serif;
}

.default-input {
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 13px;
  border: 1px solid $primaryColor;
  background-color: rgb(248, 248, 248);
}

.default-btn {
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 600;
  transition: $defaultTransition;

  &:disabled {
    cursor: initial;
  }
}

.primary-btn {
  @extend .default-btn;

  border: 1px solid $primaryColor;
  background-color: $primaryColor;
  color: $secondaryColor;

  &:hover:not(:disabled) {
    background-color: #fff;
    color: $primaryColor;
  }

  &:disabled {
    background-color: lighten($primaryColor, 10);
    color: lighten($secondaryColor, 15);
  }
}

.error-text {
  font-size: 14px;
  color: red;
  margin-top: 5px;
  margin-left: 5px;
}
